<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
               <h4 class="card-tittle">Stripped Progress Bar</h4>
               <div class="progress-bar bg-primary progress-bar-striped active" style="height:10px;" role="progressbar"
               [style.width]="getValor1"></div>
            </div>
            <div class="card-body">
               <h4 class="card-tittle">Stripped Progress Bar</h4>
               <div class="progress-bar bg-info progress-bar-striped active" style="height:10px;" role="progressbar"
               [style.width]="getValor2"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
               <app-incrementador (valor)="progreso1 = $event" 
                                  [valor]="0"></app-incrementador>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador (valor)="progreso2 = $event" 
                                   [valor]="0"
                                   btnClass="btn-info"></app-incrementador>
            </div>
        </div>
    </div>
</div>