<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text"
                       class="form-control"
                       placeholder="Buscar Médico..."
                       #txtTermino
                       (keyup)="busqueda(txtTermino.value)">
            </div>
        </div>
    </div>
</div>
<div class="row animated fadeIn fast"
     *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
                <i class="fa fa-spin fa-refresh fa-2x"></i>
                <p class="mb-0">Por Favor, Espere.</p>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast"
     *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div col-8>
                        <h4 class="card-title">Hospitales ({{medicos.length}})</h4>
                        <h6 class="card-subtitle">Hospitales registrados</h6>
                    </div>
                    <div class="col">
                        <div class="m-3 text-right">
                            <a class="btn btn-primary"
                               routerLink="/dashboard/medico/nuevo">
                                <i class="fa fa-hospital-o"></i>
                                Crear Medico
                        </a>
                        </div>
                    </div>
                </div>
                <div *ngIf="medicos.length === 0" class="row">
                    <div class="col text-center alert alert-info">
                        <h3>No hay resultados</h3>
                    </div>
                </div>
                <div *ngIf="medicos.length !== 0"class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w100">Foto</th>
                                <th>Nombre</th>
                            
                                <th class="text-nowrap w100">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let medico of medicos">
                                <td>
                                    <img class="fotoHospital cursor" 
                                         [src]="medico.img | imagen:'medicos'" 
                                         [alt]="medico.nombre"
                                         (click)="abrirModal(medico)"
                                         >
                                </td>
                                <td>{{medico.nombre}}</td>
                            
                                <td class="text-nowrap text-center">
                                    <a data-toggle="tooltip" 
                                       data-original-title="Editar"
                                       [routerLink]="['/dashboard/medico', medico._id]"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                    <a data-toggle="tooltip" 
                                       data-original-title="Borrar"
                                       (click)="borrarMedico(medico)"> <i class="fa fa-close text-danger cursor"></i> </a>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>