<div class="row animated fadeIn">

    <div *ngIf="usuarios.length !== 0" class="col animated fadeIn">
        <div class="card">
            <div class="card-body">
                <h3>Usuarios</h3>

                <div *ngIf="usuarios.length > 0" class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuario of usuarios"
                                class="animated fadeIn">
                                <td>
                                    <img [src]="usuario.img | imagen:'usuarios'" alt="foto"
                                     class="w75">
                                </td>
                                <td>{{usuario.nombre}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
    <div *ngIf="hospitales.length !== 0" class="col animated fadeIn">
        <div class="card">
            <div class="card-body">
                <h3>Hospitales</h3>

                <div *ngIf="hospitales.length > 0" class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let hospital of hospitales"
                                class="animated fadeIn">
                                <td>
                                    <img [src]="hospital.img | imagen:'hospitales'" alt="foto"
                                    class="w75">
                                </td>
                                <td>{{hospital.nombre}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
    <div *ngIf="medicos.length !== 0" class="col animated fadeIn">
        <div class="card">
            <div class="card-body">
                <h3>Médicos</h3>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let medico of medicos"
                                 class="animated fadeIn">
                                <td>
                                    <img [src]="medico.img | imagen:'medicos'" alt="foto"
                                    class="w75">
                                </td>
                                <td>
                                    <a [routerLink]="['/dashboard/medico', medico._id]">
                                    {{medico.nombre}}
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
</div>